{% load navigation_tags %}

<!-- <div class="container"> -->
<div class="navigation-fluid" data-navigation>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-xl">
            <a class="navbar-brand" href="/">LGU Batuan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <ul class="navbar-nav"> -->
                    {% get_site_root as site_root %}
                    {% top_menu parent=site_root calling_page=self %}
                </ul>
                <form class="d-flex" role="search" action="{% url 'search' %}" method="GET">
                    <input name="query" {% if search_query %} value="{{ search_query }}" {% endif %}
                        class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <input class="btn btn-outline-success" type="submit" value="Search" />
                </form>
                <!-- <form action="{% url 'search' %}" method="get">
                    <input type="text" name="query">
                    <input type="submit" value="Search" class="button">
                </form> -->
            </div>
        </div>
    </nav>
</div>
<!-- </div> -->