{% load wagtailimages_tags %}

<div class="listing-card">
    <a class="listing-card__link" href="{{ page.url }}">
        {% if page.image %}
            <figure class="listing-card__image">
                {% image page.feature_image fill-180x180-c100 loading="lazy" %}
            </figure>
        {% endif %}
        <div class="listing-card__contents">
            <h3 class="listing-card__title">{{ page.title }}</h3>
            {% if page.introduction %}
                <div class="listing-card__meta-content">{{ page.introduction|truncatewords:15 }}</div>
            {% endif %}
        </div>
    </a>
</div>
